{% trans_default_domain 'user_bundle' %}

<table id="taula" border="1">
<thead>
   <tr>
   <th>{{"user.id" | trans | capitalize}}</th>
   <th>{{"user.username" | trans | capitalize}}</th>
   <th>{{"user.firstName" | trans | capitalize}}</th>
   <th>{{"user.email" | trans | capitalize}}</th>
   <th>{{"user.roles" | trans | capitalize}}</th>
   <th>{{"table.options" | trans | capitalize}}</th>
   </tr>
</thead>
<tbody>
   {% for user in users %}
   <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.email}}</td>
      <td>
               {% set rolesCount = user.roles | filter((v,k) => v != 'ROLE_USER') | length %}
               {% if rolesCount > 0 %}
                     {% for role in user.roles | filter((v,k) => v != 'ROLE_USER') %}
                        {{ role | trans | capitalize }} 
                        {% if loop.index < rolesCount %}|{% endif %}
                     {% endfor %}
               {% else %}
                     {{ 'ROLE_USER' | trans }}
               {% endif %}
      </td>
      <td>
      <a href="{{ path ("admin_user_show",{'id': user.id })}}"><i>{{ 'link.show' | trans }}</i></a>
      &nbsp;<a href="{{ path ("admin_user_edit",{'id': user.id })}}"><i>{{ 'link.edit' | trans }}</i></a>
      &nbsp;<a href="{{ path ('admin_user_delete',{'id': user.id }) }}"><i>{{ 'link.delete' | trans  }}</i></a>
      </td>
   </tr>
   {% endfor %}
</tbody>
</table>
